* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: linear-gradient(200deg, #000000, #0ab9c2);
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: #fff;
  max-width: 500px;
  min-height: 65vh;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

main {
  padding: 10px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: rgb(79, 78, 80);
}

input {
  width: 280px;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin: 25px;
}

textarea {
  width: 280px;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin: 25px;
  resize: none;
}

::placeholder {
  color: #000000;
}

.container button {
  padding: 8px;
  width: 120px;
  display: inline;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  margin-left: 30px;
  align-items: center;
  background-image: linear-gradient(300deg, #000000, #0ab9c2);
  border: 0;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
}

#spanErrorName,
#spanErrorPhone,
#spanErrorAdress,
#spanErrorNotes {
  color: #db5a5a;
  font-size: 10px;
  display: none;
  margin-left: 30px;
}
