body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  height: 100vh;
  background: linear-gradient(145deg, #000000, #0ab9c2) no-repeat;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: #fff;
}

table {
  margin: 80px auto 0 auto;
  width: 100vh;
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  border: none;
  text-align: left;
}

th,
td {
  padding: 10px 10px;
  background-color: #fff;
}

table tbody:nth-child(odd) {
  background-color: #fff;
}

table tbody:nth-child(even) {
  background-color: #ddd;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background: rgb(90, 84, 84);
  font-size: 15px;
  color: #fff;
}

@keyframes button {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotatex(180deg);
  }
}

button {
  transition: 0.5;
}

button:hover {
  animation-name: button;
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.span {
  display: flex;
  justify-content: left;
}
